*{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--color-black);
}
.container {
    width: 1920px;
    max-width: 100%;
    position: relative;
}
.section{
    height: 100vh;
}
.section-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
}
.frame--top{
    width: 100%;
    position: absolute;
    top: 0;
}
.frame--bottom{
    width: 100%;
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
}
.line--left, .line--right{
    width: 1px;
    height: 79%;
    position: absolute;
    top:  11%;
}
.line--left{
    left: 4px;
}
.line--right{
    right:  4px;
}
.authorization-block{
    min-width: 457px;
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
}
.authorization__image {
    display: block;
    margin: 0 auto;
}
.authorization__title{
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-bottom: 24px;
}
.authorization__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.form__control{
    width: 457px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000;
    padding-left: 48px;
    padding-right: 10px;
}
.form__control-user{
    background-image: url(../img/user.svg);
    background-position: 11px center;
    background-repeat: no-repeat;
}
.form__control-password{
    background-image: url(../img/key.svg);
    background-position: 11px center;
    background-repeat: no-repeat;
}

.form__btn{
    width: 175px;
    height: 48px;
    background: linear-gradient(90deg, #B7903B 0%, #CFAA59 100%);
    color: white;
    padding: 16px 24px;
    border-radius: 4px;
    border: none;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.3s ease-out;
}
.form__btn:hover{
    background: linear-gradient(90deg,#CFAA59 0%, #B7903B  100%);
}
.is-valid{
    border: 1px solid #43A470;
}
.no-valid{
    border: 1px solid #F65454;
}
.error-message{
    font-family: "Roboto";
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #F65454;
    margin-top: 4px;
    margin-bottom: 4px;
    visibility: hidden;
}

.success-message{
    font-size: 22px;
    text-align: center;
    color: black;
    margin: 0 auto;
  }
/* preloader */

  @keyframes spinner-border {
    100% {
      transform: rotate(360deg);
    }
  }
  .submit-spinner {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: -0.125em;
    border: 0.2em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
  }
  .submit-spinner_hide {
    display: none;
  }
@media (max-width: 1200px) {
    .line--left, .line--right{
        height: 86%;
        top: 7%;
    }
}
@media (max-heigh: 1000px) {
    .line--left, .line--right{
        height: 63%;
        top: 10%;
    }
}
@media (max-heigh: 738px) {
    .line--left, .line--right{
        height: 60%;
        top: 15%;
    }
}


 